@font-face {
  font-family: 'NanumSquare';
  src: url('/public/fonts/NanumSquareRegular.ttf') format('truetype');
}

* {
  color: $main-font-color;
}

body {
  margin: 0 auto;
  background: #f5f8fa;
  font-family: NanumSquare;
}

.ui.container {
  padding: 20px;

}

