.profile-page {

  .profile-img {
    position: relative;
    border: 3px solid white;
    top: -100px;
  }

  .profile-name {
    position: relative;
    display: inline-block;
    top: -20px;
    margin-bottom: 0px;
  }

  .bio {
    position: relative;
    margin-left: 85px;
  }
}