.gnb {
  position: relative;
  padding: 100px 50px;
  
  background: $main-color;
  //background-image: url('/img/gnb2.jpg');
  background-size: cover;

  * {
    color: white;
  }

  .menu-list {
    position: absolute;
    top: 20px;
    right: 0px;

    ul {
      float: right;
      margin: 0;
      padding: 0;

      &::after {
        content: "";
        display: block;
        clear: both;
      }
      li {
        display: inline;
        padding-right: 20px;

        font-size: 18px;
        list-style: none;
      }
    }
  }


  .title {
    margin: 0;
    font-size: 44px;
    //color: white;
    //color: $main-color;
  }
  .sub-title {
    margin-top: 10px;
    font-size: 18px;
  }
}